[
 {ticktick,
  [
   {machine_id, 0},
   {ip, "0.0.0.0"},
   {port, 8084}
  ]},
 {msync,
  [
   {pid_path, "/tmp/msync.pid"},
   {port, 6717},
   {web_port, 8083},
   {ejabberd_nodes, ['ejabberd@zhaoyun'] },
   {user, [{pool_size, 1},
           {servers, <<"thrift:9999">>}]},
   {user_auth_module, msync_user_with_poolboy},
   {store_nodes,
           [{all,['ejabberd@ejabberd-db']},
            {muc,['ejabberd@ejabberd-db']}]}
  ]},
 {im_thrift,
  [
   {services,
    [[{service, user_service_thrift},
      %% {host, "thrift"},
      %% {port, 9999},
      {host_port_list, [{"thrift", 9999}]},
      {options, [{framed, true},
                 {connect_timeout, 1000},
                 {recv_timeout, 1000},
                 {sockopts, [{keepalive, true}]}]},
      {strategy, fifo},
      {pool_size, 4},
      {max_overflow, 20}],
     [{service, conference_service_thrift},
      {host, "172.16.0.21"},
      {port, 6996},
      {options, [{framed, true},
                 {connect_timeout, 1000},
                 {recv_timeout, 1000},
                 {sockopts, [{keepalive, true}]}]},
      {pool_size, 4},
      {max_overflow, 20}]
    ]}
  ]},
 {brod,
  [{ clients , [{ brod_client,
                  [{ endpoints, [{"kafka", 9092}]},
                   { reconnect_cool_down_seconds, 10},
                   { required_acks, 1},
                   {auto_start_producers, true}
                 ]}]}]},
 {message_store, [
                  {redis, [index, body, appconfig, roster, kafka_log, log, muc, privacy, resource, group_msg, codis_session]},
                  {kafka_log, [
                               {host, "redis"},
                               {port, 6379},
                               {db, 0},
                               {pool_size, 1}
                              ]},
                  {log, [
                         {host, "redis"},
                         {port, 6379},
                         {db, 0},
                         {pool_size, 1}
                        ]},
                  {index, [
                           {host, "redis"},
                           {port, 6379},
                           {db, 0},
                           {pool_size, 1}
                          ]},
                  {body, [
                          {host, "redis"},
                          {port, 6379},
                          {db, 0},
                          {pool_size, 1}
                         ]},
                  {muc, [
                         {host, "redis"},
                         {port, 6379},
                         {db, 0},
                         {pool_size, 1},
                         {ttl_keepalive_secs, 86400}
                        ]},
                  {appconfig, [
                               {host, "redis"},
                               {port, 6379},
                               {db, 0},
                               {pool_size, 1},
                               {ttl_keepalive_secs, 86400}
                              ]},
                  {roster, [
                            {host, "redis"},
                            {port, 6379},
                            {db, 0},
                            {pool_size, 1},
                            {ttl_keepalive_secs, 86400}
                           ]},
                  {privacy, [
                             {host, "redis"},
                             {port, 6379},
                             {db, 0},
                             {pool_size, 1},
                             {ttl_keepalive_secs, 86400}
                            ]},
                  {resource, [
                               {host, "redis"},
                               {port, 6379},
                               {db, 0},
                               {pool_size, 1}
                             ]},
                  {group_msg, [
                           {host, "redis"},
                           {port, 6379},
                           {db, 0},
                           {pool_size, 1}
                          ]},
                  {codis_session, [
                                   {host, "redis"},
                                   {port, 6379},
                                   {db, 0},
                                   {pool_size, 1}
                                  ]},
                  {odbc_type, mysql},
                  {odbc_server,<<"mysql">>},
                  {odbc_database,<<"ejabberd">>},
                  {odbc_username,<<"mysql">>},
                  {odbc_password,<<"123456">>},
                  {odbc_port,3306},
                  {odbc_pool_size, 1},
                  %% start interval in seconds.
                  {odbc_start_interval, 30},
                  {odbc_shards,
                   [{32,
                     [{server, <<"mysql">>},
                      {port, 3306},
                      {start_interval, 30},
                      {database, <<"ejabberd">>},
                      {username, <<"mysql">>},
                      {password, <<"123456">>},
                      {pool_size, 1}]},
                    {0, [{server, <<"mysql">>}] },
                    {1, [{server, <<"mysql">>}] },
                    {2, [{server, <<"mysql">>}] },
                    {3, [{server, <<"mysql">>}] },
                    {4, [{server, <<"mysql">>}] },
                    {5, [{server, <<"mysql">>}] },
                    {6, [{server, <<"mysql">>}] },
                    {7, [{server, <<"mysql">>}] },
                    {8, [{server, <<"mysql">>}] },
                    {9, [{server, <<"mysql">>}] },
                    {10, [{server, <<"mysql">>}] },
                    {11, [{server, <<"mysql">>}] },
                    {12, [{server, <<"mysql">>}] },
                    {13, [{server, <<"mysql">>}] },
                    {14, [{server, <<"mysql">>}] },
                    {15, [{server, <<"mysql">>}] },
                    {16, [{server, <<"mysql">>}] },
                    {17, [{server, <<"mysql">>}] },
                    {18, [{server, <<"mysql">>}] },
                    {19, [{server, <<"mysql">>}] },
                    {20, [{server, <<"mysql">>}] },
                    {21, [{server, <<"mysql">>}] },
                    {22, [{server, <<"mysql">>}] },
                    {23, [{server, <<"mysql">>}] },
                    {24, [{server, <<"mysql">>}] },
                    {25, [{server, <<"mysql">>}] },
                    {26, [{server, <<"mysql">>}] },
                    {27, [{server, <<"mysql">>}] },
                    {28, [{server, <<"mysql">>}] },
                    {29, [{server, <<"mysql">>}] },
                    {30, [{server, <<"mysql">>}] },
                    {31, [{server, <<"mysql">>}]}]},
                  {max_fsm_queue, 1000},
                  {odbc_keepalive_interval, 90},
                  {store, [{pool_size, 2}]},
                  {offline, [{pool_size, 2}]},
                  {log_redis, [
                               {redis_topic, "ejabberd:chat:messages"},
                               {redis_offline_topic, "ejabberd:chat:offlines"},
                               {pool_size, 1}
                              ]},
                  {log_kafka, [
                               {kafka_sendmsg_topic, <<"ejabberd-chat-messages">>},
                               {kafka_recvmsg_topic, <<"ejabberd-chat-recvmsgs">>},
                               {kafka_offline_topic, <<"ejabberd-chat-offlines">>},
                               {kafka_status_topic, <<"ejabberd-user-status-change">>},
                               {kafka_broker_host, "kafka"},
                               {kafka_broker_port, 9092},
                               {kafka_per_partition_workers, 1},
                               {kafka_pool_size, 1}
                              ]},
                  {kafka_client_module, brod}
                 ]},
 {erl_om, [
           {handlers, []},
           {port, 8088},
           {ip, {0,0,0,0}},
           {docroot, "/home/tmp"}
          ]},
 {lager,
  [
   { handlers ,
     [ { lager_console_backend,
         [debug, {lager_default_formatter, []}]
       },
       { lager_file_backend, [{file, "log/debug.log"},
                              {level, debug},
                              {size, 104857600},
                              {date, "$D0"},
                              {count, 10},
                              {high_water_mark, 50000},
                              {sync_on, critical}
                             ]},
       { lager_file_backend, [{file, "log/info.log"},
                              {level, info},
                              {size, 104857600},
                              {date, "$D0"},
                              {count, 10},
                              {high_water_mark, 50000},
                              {sync_on, critical}
                             ]},
       {
         lager_file_backend,
         [{file, "log/error.log"},
          {level, error},
          {count, 10}, {sync_on, critical } ]
       }
     ]}]}].

%% Local Variables:
%% mode:erlang
%% coding: nil
%% End:
