[
 {ticktick,
  [
   {machine_id, 0},
   {ip, "0.0.0.0"},
   {port, 8081}
  ]},
 {msync,
  [
   {port, 6717},
   {web_port, 8080},
   {ejabberd_nodes, ['ejabberd@zhaoyun'] },
   {user, [{pool_size, 1},
           {servers, <<"ssy-app:9999">>}]},
   {turnServers,
    [{<<"easemob.com">>, ["121.41.105.183:3478"]}]}
  ]},
 {message_store, [
                  {redis, [index, body, roster, log, muc, privacy, resource, group_msg]},
                  {log, [
                         {host, "ssy-app"},
                         {port, 6379},
                         {db, 0},
                         {pool_size, 1}
                        ]},
                  {index, [
                           {host, "ssy-app"},
                           {port, 6379},
                           {db, 0},
                           {pool_size, 1}
                          ]},
                  {body, [
                          {host, "ssy-app"},
                          {port, 6379},
                          {db, 0},
                          {pool_size, 1}
                         ]},
                  {muc, [
                         {host, "ssy-app"},
                         {port, 6379},
                         {db, 0},
                         {pool_size, 1},
                         {ttl_keepalive_secs, 86400}
                        ]},
                  {roster, [
                            {host, "ssy-app"},
                            {port, 6379},
                            {db, 0},
                            {pool_size, 1},
                            {ttl_keepalive_secs, 86400}
                           ]},
                  {privacy, [
                             {host, "ssy-app"},
                             {port, 6379},
                             {db, 0},
                             {pool_size, 1},
                             {ttl_keepalive_secs, 86400}
                            ]},
                  {resource, [
                               {host, "ssy-app"},
                               {port, 6379},
                               {db, 0},
                               {pool_size, 1}
                             ]},
                  {group_msg, [
                           {host, "ssy-app"},
                           {port, 6379},
                           {db, 0},
                           {pool_size, 1}
                          ]},
                  {odbc_type, mysql},
                  {odbc_server,<<"ssy-app">>},
                  {odbc_database,<<"ejabberd">>},
                  {odbc_username,<<"ejabberd">>},
                  {odbc_password,<<"ejabberd">>},
                  {odbc_port,3306},
                  {odbc_pool_size, 1},
                  %% start interval in seconds.
                  {odbc_start_interval, 30},
                  {odbc_shards,
                   [{32,
                     [{server, <<"ssy-app">>},
                      {port, 3306},
                      {start_interval, 30},
                      {database, <<"ejabberd">>},
                      {username, <<"ejabberd">>},
                      {password, <<"ejabberd">>},
                      {pool_size, 1}]},
                    {0, [{server, <<"ssy-app">>}] },
                    {1, [{server, <<"ssy-app">>}] },
                    {2, [{server, <<"ssy-app">>}] },
                    {3, [{server, <<"ssy-app">>}] },
                    {4, [{server, <<"ssy-app">>}] },
                    {5, [{server, <<"ssy-app">>}] },
                    {6, [{server, <<"ssy-app">>}] },
                    {7, [{server, <<"ssy-app">>}] },
                    {8, [{server, <<"ssy-app">>}] },
                    {9, [{server, <<"ssy-app">>}] },
                    {10, [{server, <<"ssy-app">>}] },
                    {11, [{server, <<"ssy-app">>}] },
                    {12, [{server, <<"ssy-app">>}] },
                    {13, [{server, <<"ssy-app">>}] },
                    {14, [{server, <<"ssy-app">>}] },
                    {15, [{server, <<"ssy-app">>}] },
                    {16, [{server, <<"ssy-app">>}] },
                    {17, [{server, <<"ssy-app">>}] },
                    {18, [{server, <<"ssy-app">>}] },
                    {19, [{server, <<"ssy-app">>}] },
                    {20, [{server, <<"ssy-app">>}] },
                    {21, [{server, <<"ssy-app">>}] },
                    {22, [{server, <<"ssy-app">>}] },
                    {23, [{server, <<"ssy-app">>}] },
                    {24, [{server, <<"ssy-app">>}] },
                    {25, [{server, <<"ssy-app">>}] },
                    {26, [{server, <<"ssy-app">>}] },
                    {27, [{server, <<"ssy-app">>}] },
                    {28, [{server, <<"ssy-app">>}] },
                    {29, [{server, <<"ssy-app">>}] },
                    {30, [{server, <<"ssy-app">>}] },
                    {31, [{server, <<"ssy-app">>}]}]},
                  {max_fsm_queue, 1000},
                  {odbc_keepalive_interval, 90},
                  {store, [{pool_size, 2}]},
                  {offline, [{pool_size, 2}]},
                  {log_redis, [
                               {redis_topic, "ejabberd:chat:messages"},
                               {redis_offline_topic, "ejabberd:chat:offlines"},
                               {pool_size, 1}
                              ]},
                  {log_kafka, [
                               {kafka_sendmsg_topic, <<"ejabberd-chat-messages">>},
                               {kafka_recvmsg_topic, <<"ejabberd-chat-recvmsgs">>},
                               {kafka_offline_topic, <<"ejabberd-chat-offlines">>},
                               {kafka_status_topic, <<"ejabberd-user-status-change">>},
                               {kafka_broker_host, "ssy-app"},
                               {kafka_broker_port, 9092},
                               {kafka_per_partition_workers, 1},
                               {kafka_pool_size, 1}
                              ]}]},
 {lager,
  [
   { handlers ,
     [ { lager_console_backend,
         [debug, {lager_default_formatter, []}]
       },
       { lager_file_backend, [{file, "log/debug.log"},
                              {level, debug},
                              {size, 104857600},
                              {date, "$D0"},
                              {count, 10},
                              {sync_on, critical}
                             ]},
       { lager_file_backend, [{file, "log/info.log"},
                              {level, info},
                              {size, 104857600},
                              {date, "$D0"},
                              {count, 10},
                              {sync_on, critical}
                             ]},
       {
         lager_file_backend,
         [{file, "log/error.log"},
          {level, error},
          {count, 10}, {sync_on, critical } ]
       }
     ]}]}].

%% Local Variables:
%% mode:erlang
%% coding: nil
%% End:
