#
# You can add personal rules in your file .git/info/exclude
*.swp
*~
\#*#
.#*
.edts
*.dump
/config.log
/config.status
/configure
/aclocal.m4
/contrib/extract_translations/extract_translations.beam
/*.cache
/deps/
/doc/*.aux
/doc/*.haux
/doc/*.html
/doc/*.htoc
/doc/*.idx
/doc/*.ilg
/doc/*.ind
/doc/*.log
/doc/*.out
/doc/*.pdf
/doc/*.png
/doc/edoc-info
/doc/*.css
/doc/*.toc
/doc/contributed_modules.tex
/doc/version.tex
/log/
/ebin/
/ejabberd.init
/ejabberdctl.example
XmppAddr.hrl
/rel/msync/
/src/XmppAddr.asn1db
/src/XmppAddr.erl
/src/ejabberd.app.src
/src/eldap_filter_yecc.erl
/vars.config
/dialyzer/
/test/*.beam
/logs/
/priv/sql
*.beam
.rebar/erlcinfo
ttb_last_config
tests/Mnesia*
variables-ct*
Mnesia*
log
/tests/log
*.o
bak
include/ackbody.hrl
include/indication.hrl
include/jid.hrl
include/keyvalue.hrl
include/message.hrl
include/messagebody.hrl
include/messagequeue.hrl
include/request.hrl
include/response.hrl
include/root.hrl
include/status.hrl
include/sync.hrl
src/ackbody.erl
src/indication.erl
src/jid.erl
src/keyvalue.erl
src/message.erl
src/messagebody.erl
src/messagequeue.erl
src/request.erl
src/response.erl
src/root.erl
src/status.erl
src/sync.erl
priv/msync_login
priv/protocol.pb*
priv/protocol.proto
proto/protocol.pb*
proto/protocol.proto
priv/msync_test
/dump.rdb
include/protocol.hrl
include/msync.hrl
include/pb_jid.hrl
include/pb_keyvalue.hrl
include/pb_messagebody.hrl
include/pb_msync.hrl
src/pb_jid.erl
src/pb_keyvalue.erl
src/pb_messagebody.erl
src/pb_msync.erl
include/pb_mucbody.hrl
include/pb_rosterbody.hrl
src/pb_mucbody.erl
src/pb_rosterbody.erl
/.eunittest/show_binary.so
test/show_binary.so
include/pb_provision.hrl
src/pb_provision.erl
include/pb_statisticsbody.hrl
src/pb_statisticsbody.erl
rel/msync_prod
*.appup.src
previous_release/src/fingerprint.erl
src/fingerprint.erl
src/ejabberd_license_data.erl
tools/private_key.pem
tools/public_key.pem
.eunit/
