[
 {msync,
  [
   {port, 6717},
   {web_port, 9091},
   {ejabberd_nodes, ['ejabberd@sdb-ali-hangzhou-ejabberd3','ejabberd@sdb-ali-hangzhou-ejabberd4']},
   {user, [{pool_size, 2},
           {servers, <<"sdb-ali-hangzhou-thrift1:9999">>}]}
  ]
 },
 {ticktick,
  [
   {machine_id, 0},
   {ip, "0.0.0.0"},
   %% 8080 is used by mochiweb
   {port, 18080}
  ]},
 {message_store, [
                  {redis, [index, body, roster, log, muc, privacy, resource]},
                  {log, [
                         {host, "sdb-ali-hangzhou-slb-redis1"},
                         {port, 6379},
                         {db, 0},
                         {pool_size, 10}
                        ]},
                  {index, [
                           {host, "sdb-ali-hangzhou-redis3"},
                           {port, 6379},
                           {db, 0},
                           {pool_size, 100}
                          ]},
                  {resource, [
                              {host, "sdb-ali-hangzhou-redis3"},
                              {port, 6379},
                              {db, 0},
                              {pool_size, 100}
                             ]},
                  {body, [
                          {host, "sdb-ali-hangzhou-redis3"},
                          {port, 6379},
                          {db, 0},
                          {pool_size, 100}
                         ]},
                  {roster, [
                            {host, "sdb-ali-hangzhou-redis3"},
                            {port, 6379},
                            {db, 0},
                            {pool_size, 1},
                            {ttl_keepalive_secs, 86400}
                           ]},
                  {muc, [
                            {host, "sdb-ali-hangzhou-slb-codis2"},
                            {port, 19000},
                            {db, 0},
                            {pool_size, 1},
                            {ttl_keepalive_secs, 86400}
                           ]},
                  {privacy, [
                             {host, "sdb-ali-hangzhou-redis3"},
                             {port, 6379},
                             {db, 0},
                             {pool_size, 1},
                             {ttl_keepalive_secs, 86400}
                            ]},
                  {odbc_type, mysql},
                  {odbc_server,<<"rdsf3iavif3iavi.mysql.rds.aliyuncs.com">>},
                  {odbc_database,<<"ejabberd">>},
                  {odbc_username,<<"easemob">>},
                  {odbc_password,<<"thepushbox">>},
                  {odbc_port,3306},
                  {odbc_pool_size, 5},
                  %% start interval in seconds.
                  {odbc_start_interval, 30},
                  {odbc_shards,
                   [{32,
                     [{server, <<"rdsf3iavif3iavi.mysql.rds.aliyuncs.com">>},
                      {port, 3306},
                      {database, <<"ejabberd">>},
                      {username, <<"easemob">>},
                      {password, <<"thepushbox">>},
                      {pool_size, 2}]},
                    {0, [{server, <<"rdsf3iavif3iavi.mysql.rds.aliyuncs.com">>}] },
                    {1, [{server, <<"rdsf3iavif3iavi.mysql.rds.aliyuncs.com">>}] },
                    {2, [{server, <<"rdsf3iavif3iavi.mysql.rds.aliyuncs.com">>}] },
                    {3, [{server, <<"rdsf3iavif3iavi.mysql.rds.aliyuncs.com">>}] },
                    {4, [{server, <<"rdsf3iavif3iavi.mysql.rds.aliyuncs.com">>}] },
                    {5, [{server, <<"rdsf3iavif3iavi.mysql.rds.aliyuncs.com">>}] },
                    {6, [{server, <<"rdsf3iavif3iavi.mysql.rds.aliyuncs.com">>}] },
                    {7, [{server, <<"rdsf3iavif3iavi.mysql.rds.aliyuncs.com">>}] },
                    {8, [{server, <<"rdsf3iavif3iavi.mysql.rds.aliyuncs.com">>}] },
                    {9, [{server, <<"rdsf3iavif3iavi.mysql.rds.aliyuncs.com">>}] },
                    {10, [{server, <<"rdsf3iavif3iavi.mysql.rds.aliyuncs.com">>}] },
                    {11, [{server, <<"rdsf3iavif3iavi.mysql.rds.aliyuncs.com">>}] },
                    {12, [{server, <<"rdsf3iavif3iavi.mysql.rds.aliyuncs.com">>}] },
                    {13, [{server, <<"rdsf3iavif3iavi.mysql.rds.aliyuncs.com">>}] },
                    {14, [{server, <<"rdsf3iavif3iavi.mysql.rds.aliyuncs.com">>}] },
                    {15, [{server, <<"rdsf3iavif3iavi.mysql.rds.aliyuncs.com">>}] },
                    {16, [{server, <<"rdsf3iavif3iavi.mysql.rds.aliyuncs.com">>}] },
                    {17, [{server, <<"rdsf3iavif3iavi.mysql.rds.aliyuncs.com">>}] },
                    {18, [{server, <<"rdsf3iavif3iavi.mysql.rds.aliyuncs.com">>}] },
                    {19, [{server, <<"rdsf3iavif3iavi.mysql.rds.aliyuncs.com">>}] },
                    {20, [{server, <<"rdsf3iavif3iavi.mysql.rds.aliyuncs.com">>}] },
                    {21, [{server, <<"rdsf3iavif3iavi.mysql.rds.aliyuncs.com">>}] },
                    {22, [{server, <<"rdsf3iavif3iavi.mysql.rds.aliyuncs.com">>}] },
                    {23, [{server, <<"rdsf3iavif3iavi.mysql.rds.aliyuncs.com">>}] },
                    {24, [{server, <<"rdsf3iavif3iavi.mysql.rds.aliyuncs.com">>}] },
                    {25, [{server, <<"rdsf3iavif3iavi.mysql.rds.aliyuncs.com">>}] },
                    {26, [{server, <<"rdsf3iavif3iavi.mysql.rds.aliyuncs.com">>}] },
                    {27, [{server, <<"rdsf3iavif3iavi.mysql.rds.aliyuncs.com">>}] },
                    {28, [{server, <<"rdsf3iavif3iavi.mysql.rds.aliyuncs.com">>}] },
                    {29, [{server, <<"rdsf3iavif3iavi.mysql.rds.aliyuncs.com">>}] },
                    {30, [{server, <<"rdsf3iavif3iavi.mysql.rds.aliyuncs.com">>}] },
                    {31, [{server, <<"rdsf3iavif3iavi.mysql.rds.aliyuncs.com">>}]}]},
                  {max_fsm_queue, 1000},
                  {odbc_keepalive_interval, 90},
                  {store, [{pool_size, 50}]},
                  {offline, [{pool_size, 50}]},
                  {log_redis, [
                               {redis_topic, "ejabberd:chat:messages"},
                               {redis_offline_topic, "ejabberd:chat:offlines"},
                               {pool_size, 10}
                              ]},
                  {log_kafka, [
                               {kafka_sendmsg_topic, <<"ejabberd-chat-messages">>},
                               {kafka_recvmsg_topic, <<"ejabberd-chat-recvmsgs">>},
                               {kafka_offline_topic, <<"ejabberd-chat-offlines">>},
                               {kafka_status_topic, <<"ejabberd-status-change">>},
                               {kafka_broker_host, "sdb-ali-hangzhou-slb-kafka"},
                               {kafka_broker_port, 9092},
                               {kafka_per_partition_workers, 1},
                               {kafka_pool_size, 50}
                              ]}]},
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]}
].



%% Local Variables:
%% mode:erlang
%% coding: undecided-unix
%% End:
